**/.DS_Store
.idea/
.vs/
.vscode/
build/
cmake-build-*/
prefix/
CMakeLists.txt.user
compile_commands.json
env.bat
env.ps1
Testing
test/output
__pycache__/
*.py[cod]
*$py.class
*.egg-info
playground/
tests/output
py-venv/
.env
*.so
logs/
run.sh
plugin/install
JupyterNotebooks